container-volumes/grafana/*
!container-volumes/grafana/.empty
container-volumes/influxdb/*
!container-volumes/influxdb/.empty
container-volumes/mariadb/*
!container-volumes/mariadb/.empty
container-volumes/card-importer/*
!container-volumnes/card-importer/.empty
container-volumes/nginx/var-log/nginx/*
!container-volumes/nginx/var-log/nginx/.empty
container-volumes/nginx/var-run/*
!container-volumes/nginx/var-run/.empty
web_content/card_face_images/*.png
web_content/static_content/card_face_images/*.png
*.swp
go/src/card-importer/card-importer
go/src/card-image-downloader/card-image-downloader
go/src/card-stats/card-stats
go/src/debug-playground/debug-playground
AllPrintings.*
AllPrices.*
version.*
go/pkg/
go/src/github.com/
